body, html, #root, .App {
    height: 100%;
    margin: 0;
}

.card-container {
    background-color: rgba(150, 150, 150, 0.50);
    width: 40%;
    height: 95%;
    margin: 0 5em;
    padding: 1em;
    display: flex;
    border-radius: 1em;
    form {
        button, input {
            color: white;
            background-color: red;
        }
    }
}

#main {
    height: 80%;
    display: flex;
    padding: 1em;
    justify-content: center;
    background-size: cover;
    background:
        /* top, transparent black, faked with gradient */ 
        linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)
        ),
        /* bottom, image */
        url("./../img/cosmicbackground.jpg");
}