@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

$white: rgba(225, 225, 225, 0.95);
$dark: rgba(200, 200, 200, 0.10);

.add-todo {
    margin: 2rem auto;
    max-width: 75vw;
    padding: 0;
    width: 70%;
    min-height: 10vh;
    
    h1 {
        font-size: 4rem;
        margin: 0;
        color: $white;
    }
    
    input {
        font-family: 'Mukta', sans-serif;
        background-color: $dark;
        border: none;
        font-size: 2rem;
        border-radius: 10000px;
        padding: 2% 5% 2% 5%;
        margin: 2rem 0;
        color: $white;
        width: 80%;
        transition: background-color 200ms ease-in-out;
        &:focus {
            outline: none;
            background-color: rgba(200, 200, 200, 0.15);
        }
    }

    button {
        margin: 0;
        position: relative;
        color: $white;
        border: 2px solid $white;
        border-radius: 10px;
        background-color: transparent;
        transition: 
            background-color 250ms ease-in-out,
            transform 150ms ease-in-out,
            color 150ms ease-in-out;
        &:hover {
            color: rgb(20, 20, 20);
            background-color: rgba($white, 0.8);
            transform: scale(1.1);
        }
        overflow: hidden;
        &::after {
            opacity: 0;
            transform: translate(-50%, -50%);
            position: absolute;
            top: var(--y-pos);
            left: var(--x-pos);
            height: 500%;
            width: 500%;
            z-index: -1;
            content: "";
            transition: opacity 150ms ease-in-out;
        }
    }
}