$primary-color: rgba(0, 140, 150);
$secondary-color: rgba(200, 0, 0);
$primary-text-color: rgba(200, 200, 200);
$secondary-text-color: rgba(175, 175, 175);
* {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;
    flex-wrap: wrap;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $primary-color;
}