@import "base";
@media only screen and (max-width: 1920px) {
    header {
        background-image: url("../../images/background_header.jpg");
        background-size: cover;
        width: 100%;
        .header_container {
            padding: 10em 0 10em 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    h1 {
        width: 100%;
        color: $primary-text-color;
        text-align: center;
        font-size: 5rem;
        padding: 0.5em;
    }
    nav {
        width: calc(50%);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($primary-color, 0.75);
        a {
            position: relative;
            color: $secondary-text-color;
            text-decoration: none;
            font-size: 2.5rem;
            padding: 1em;
            border-radius: 10px;
            &:hover {
                background-color: rgba($primary-color, 0.25);
                color: lighten($secondary-text-color, 10);
                &::after {
                    transform: scale(1)
                }
            }
            &::after {
                left: 5%;
                bottom: 20px;
                width: 90%;
                background-color: lighten($secondary-text-color, 10);
                position: absolute;
                height: 0.025em;
                content: "";
                transform: scale(0);
                transition: all ease-in-out 200ms;
            }
            transition: all ease-in-out 200ms;
        }
    }
}

@media only screen and (max-width: 900px) {
    header {
        background-image: url("../../images/background_header.jpg");
        background-size: cover;
        width: 100%;
        .header_container {
            padding: 10em 0 10em 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    h1 {
        color: $primary-text-color;
        text-align: center;
        font-size: 5rem;
        padding: 0.5em;
    }
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em;
        a {
            position: relative;
            color: #333333;
            text-decoration: none;
            font-size: 2rem;
            padding: 0.5em;
            &::after {
                display: none;
            }
        }
    }
}